<!DOCTYPE html>
<html lang="pt-BR">
<head>

<meta charset="UTF-8">

<title>Mapa Colaborativo Poncho Verde</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link
rel="stylesheet"
href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>

</head>

<body>
    

<img
src="{{ url_for('static', filename='rosa_ventos.png') }}"
class="rosa"
>

<div class="painel">

<h2>Mapa Colaborativo</h2>
<p id="statusUsuario">
    Visitante
</p>

<div id="painelCadastro">
<select id="tipo">
    <option value="problema">Problema Identificado</option>
    <option value="solucao">Proposta de Solução</option>
</select>

<input
id="rua"
placeholder="Rua"
/>

<textarea
id="descricao"
placeholder="Descrição"
></textarea>

<button onclick="salvarMarcador()">
Salvar
</button>

<br><br>

<button onclick="voltarEscola()">
Voltar para Escola
</button>


<p id="coords">
Clique no mapa
</p>
</div>
</div>

<div id="map"></div>

<div id="modalIntegrantes" class="modal">

    <div class="modal-content">

        <span class="fechar" onclick="fecharIntegrantes()">
            ×
        </span>

        <h2>Integrantes</h2>

        <p>Arthur Moro</p>
        <p>Caio</p>
        <p>Lucas</p>
        <p>Pedro</p>

    </div>

</div>

<div id="modalLogin" class="modal">

    <div class="modal-content">

        <span class="fechar" onclick="fecharLogin()">
            ×
        </span>

        <h2>Login</h2>

        <input
            id="usuario"
            placeholder="Usuário"
        >

        <input
            id="senha"
            type="password"
            placeholder="Senha"
        >

        <button onclick="login()">
            Entrar
        </button>

    </div>

</div>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>

const ESCOLA = [-28.3051754,-53.5083942]

const map = L.map('map').setView(ESCOLA,17)
let usuarioLogado = false;

L.tileLayer(
'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
{
maxZoom:19
}
).addTo(map)

const iconeEscola = L.icon({
    iconUrl:"https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-yellow.png",
    shadowUrl:"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png",
    iconSize:[25,41],
    iconAnchor:[12,21]
});

const iconeLocal = L.icon({
    iconUrl:"https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-violet.png",
    shadowUrl:"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png",
    iconSize:[25,41],
    iconAnchor:[12,41]
});

L.marker(
    ESCOLA,
    {icon: iconeEscola}
)
.addTo(map)
.bindPopup(`
    <div style="text-align:center;">
        <h3>EEEB Poncho Verde</h3>

        <img
            src="/static/poncho_verde.jpg"
            width="250"
            style="
                border-radius:10px;
                margin-bottom:10px;
            "
        >

        <p>
            Escola Estadual de Educação Básica Poncho Verde
        </p>
    </div>
`)

let latSelecionada = null
let lonSelecionada = null

let marcadorTemp = null;

map.on('click', function(e){

    latSelecionada = e.latlng.lat;
    lonSelecionada = e.latlng.lng;

    if(marcadorTemp){
        map.removeLayer(marcadorTemp);
    }

    const iconeSelecao = L.icon({
    iconUrl: "https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-blue.png",
    shadowUrl: "https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png",
    iconSize:[25,41],
    iconAnchor:[12,41]
});

marcadorTemp = L.marker(
    [latSelecionada, lonSelecionada],
    {icon: iconeSelecao}
).addTo(map);

    document.getElementById("coords").innerHTML =
        `Latitude: ${latSelecionada.toFixed(6)}
        <br>
        Longitude: ${lonSelecionada.toFixed(6)}`;
});

function voltarEscola(){

    map.setView(ESCOLA,17)

}

const locaisImportantes = [

{
nome:"Atacado Cotripal",
lat:-28.309906,
lon:-53.507701,
img:"/static/atacado.jpg"
},

{
nome:"DTG Poncho Verde",
lat:-28.3184235,
lon:-53.5173644,
img:"/static/dtg.jpg"
},

{
nome:"SENAI",
lat:-28.3108346,
lon:-53.5079733,
img:"/static/senai.jpg"
},

{
nome:"Prefeitura Municipal",
lat:-28.3065647,
lon:-53.5083618,
img:"/static/prefeitura.jpg"
},

{
nome:"Praça Central",
lat:-28.2898554,
lon:-53.5018606,
img:"/static/praca.jpg"
},

{
nome:"Supermercado Cotripal",
lat:-28.2888931,
lon:-53.5000443,
img:"/static/supermercado.jpg"
}

];

function carregarDados(){

    locaisImportantes.forEach(local => {

        L.marker(
            [local.lat, local.lon],
            {icon: iconeLocal}
        )
        .addTo(map)
        .bindPopup(`
            <h3>${local.nome}</h3>

            <img
                src="${local.img}"
                width="250"
            >
        `);

    });

    fetch("/dados")
    .then(r => r.json())
    .then(dados => {

        dados.problemas.forEach(p => {

            const botaoRemover = usuarioLogado
                ? `
                    <br><br>
                    <button onclick="removerProblema(${p.id})">
                        Remover
                    </button>
                  `
                : "";

            L.circleMarker(
                [p.lat, p.lon],
                {
                    color: "red"
                }
            )
            .addTo(map)
            .bindPopup(`
                <b>Problema Identificado</b>
                <br>
                Rua: ${p.rua}
                <br>
                ${p.descricao}
                ${botaoRemover}
            `);

        });

        dados.solucoes.forEach(s => {

            const botaoRemover = usuarioLogado
                ? `
                    <br><br>
                    <button onclick="removerSolucao(${s.id})">
                        Remover
                    </button>
                  `
                : "";

            L.circleMarker(
                [s.lat, s.lon],
                {
                    color: "green"
                }
            )
            .addTo(map)
            .bindPopup(`
                <b>Proposta de Solução</b>
                <br>
                Rua: ${s.rua}
                <br>
                ${s.descricao}
                ${botaoRemover}
            `);

        });

    });

}


function salvarMarcador(){

    if(latSelecionada == null){

        mostrarMensagem("Clique no mapa primeiro");

        return

    }

    let tipo =
        document.getElementById("tipo").value

    let rua =
        document.getElementById("rua").value

    let descricao =
        document.getElementById("descricao").value

    if(rua.trim() == ""){

    mostrarMensagem("Informe a rua.");

    return;

}

if(descricao.trim() == ""){

    mostrarMensagem("Informe a descrição.");

    return;

}
    fetch("/" + tipo,{
        method:"POST",

        headers:{
            "Content-Type":"application/json"
        },

     body:JSON.stringify({

    rua,

    descricao,

    lat:latSelecionada,

    lon:lonSelecionada

})
    })
    .then(() => location.reload())

}

const legenda = L.control({position: 'bottomright'});

legenda.onAdd = function () {

    const div = L.DomUtil.create('div');

    div.innerHTML = `
        <div style="
            background:white;
            padding:10px;
            border-radius:8px;
            box-shadow:0 0 10px rgba(0,0,0,.2);
        ">
            🟡 Escola<br>
            🔵 Local Selecionado<br>
            🟣 Local Importante<br>
            🔴 Problema<br>
            🟢 Solução
        </div>
    `;

    return div;
};

legenda.addTo(map);

function removerProblema(id){

    abrirConfirmacao(

        "Remover problema",

        "Deseja realmente remover este problema?",

        function(){

            fetch(
                "/remover_problema/" + id,
                {
                    method:"DELETE"
                }
            )
            .then(() => location.reload());

        }

    );

}


function removerSolucao(id){

    abrirConfirmacao(

        "Remover solução",

        "Deseja realmente remover esta solução?",

        function(){

            fetch(
                "/remover_solucao/" + id,
                {
                    method:"DELETE"
                }
            )
            .then(() => location.reload());

        }

    );

}

function abrirIntegrantes(){

    document
    .getElementById("modalIntegrantes")
    .style.display = "block";

}

function fecharIntegrantes(){

    document
    .getElementById("modalIntegrantes")
    .style.display = "none";

}

function abrirLogin(){

    document
    .getElementById("modalLogin")
    .style.display = "block";

}

function fecharLogin(){

    document
    .getElementById("modalLogin")
    .style.display = "none";

}

function login(){

    fetch("/login",{

        method:"POST",

        headers:{
            "Content-Type":"application/json"
        },

        body:JSON.stringify({

            usuario:
                document.getElementById("usuario").value,

            senha:
                document.getElementById("senha").value

        })

    })

    .then(res => {

        if(res.ok){

            mostrarMensagem("Login realizado com sucesso!");

            fecharLogin();
            document.getElementById("usuario").value = "";
            document.getElementById("senha").value = "";
            location.reload();

        }

        else{

            mostrarMensagem("Usuário ou senha incorretos.");

        }

    });

}

fetch("/status")
.then(r => r.json())
.then(dados => {

    if(dados.logado){
        usuarioLogado = true;

        document.getElementById("statusUsuario").innerHTML =
            dados.usuario;

        document.getElementById("painelCadastro").style.display =
            "block";

        document.getElementById("btnLogin").innerHTML =
            "Sair";

        document.getElementById("btnLogin").onclick = logout;

    }
    else{
        usuarioLogado = false;
        document.getElementById("statusUsuario").innerHTML =
            "Visitante";

        document.getElementById("painelCadastro").style.display =
            "none";

    }
carregarDados();
});


function logout(){

    fetch("/logout")
    .then(() => location.reload());

}

function mostrarMensagem(texto){

    const toast =
        document.getElementById("toast");

    toast.innerHTML = texto;

    toast.classList.add("show");

    setTimeout(() => {

        toast.classList.remove("show");

    },2500);

}


let acaoConfirmacao = null;

function abrirConfirmacao(titulo, texto, acao){

    document.getElementById("tituloConfirmacao").innerHTML = titulo;

    document.getElementById("textoConfirmacao").innerHTML = texto;

    document.getElementById("modalConfirmacao").style.display = "block";

    acaoConfirmacao = acao;

}

function fecharConfirmacao(){

    document.getElementById("modalConfirmacao").style.display = "none";

}

function confirmarAcao(){

    fecharConfirmacao();

    if(acaoConfirmacao){

        acaoConfirmacao();

    }

}

</script>
<button
    class="btn-integrantes"
    onclick="abrirIntegrantes()"
>
      Integrantes
</button>

<button
    id="btnLogin"
    class="btn-login"
    onclick="abrirLogin()"
>
    Login
</button>
<div id="modalConfirmacao" class="modal">

    <div class="modal-content">

        <h2 id="tituloConfirmacao">
            Confirmação
        </h2>

        <p id="textoConfirmacao">
            Deseja continuar?
        </p>

        <button
    id="btnConfirmar"
    onclick="confirmarAcao()"
    style="background:#d32f2f;color:white;margin-bottom:10px;"
>
            Remover
        </button>

        <button
            onclick="fecharConfirmacao()"
        >
            Cancelar
        </button>

    </div>

</div>

<div id="toast" class="toast"></div>
</body>
</html>